<h1>{{title}}</h1>
<table border="1" style="background-color:antiquewhite;">

  <thead>

    <th>ID</th>
    <th>Nombre</th>
    <th>Borrar</th>
    <th>Seleccionar</th>
  </thead>
  <tbody>

    <tr *ngFor="let nombres of datos">

      <td>{{nombres.id}}</td>
      <td>{{nombres.nombre}}</td>
      <td>

        <button style="background-color:lightpink ;" (click)="eliminar(nombres.id)">Borrar</button>

      </td>

      <td>

        <button style="background-color: rgb(248, 248, 112);" (click)="seleccionar(nombres)">Seleccionar</button>

      </td>
      
    </tr>

  </tbody>

</table>

<hr>

<p>

  <label for="id">ID</label>

  <input type="number" [(ngModel)]="formulario.id">

</p>

<p>

  <label for="Nombre">Nombre</label>

  <input type="text" [(ngModel)]="formulario.nombre">

</p>

<button style="background-color: lightgreen;" (click)="agregar()">Agregar</button>

<button style="background-color:lightskyblue;" (click)="editar()">Editar</button>